---
layout: page
title: Blog 
header: Blog
group: navigation
---
{% include JB/setup %}

<main role="main" class="container">
   <div class="row">
      <div class="col-md-8 blog-main">
        {% assign posts_collate = site.posts %}
        {% include JB/posts_collate %}
      </div>
      <div class="col-md-4">
        <div>
          <a class="twitter-timeline" href="https://twitter.com/tpaskhalis">Tweets by tpaskhalis</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
   </div>
</main>

